/* GLOBAL RULE*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER SECTION*/

.header {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  flex-wrap: wrap;
  margin-bottom: 5%;
  border-bottom: 0.02cm solid rgba(160, 160, 160, 0.55);
}
.navigation {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-self: center;
  flex-wrap: wrap;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.title{
  padding: 5%;
}

.carousel {
  color: white;
}

.navigation a:hover {
  color: blue;
}

/* LOGIN COMPONENT */

.login {
  width: 80%;
  margin: 0 auto;
}

.loginHeader {
  margin: 20px 0;
  color: blanchedalmond;
}

form {
  text-align: center;
  font-size: xx-large;
  border: 2px solid black;
}

.sidebar {
  display: none;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

/*MEDIA TYPES*/

@media screen and (max-width: 906px) {
  .header h1 {
    margin: 0 auto;
  }
  .header nav {
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .header nav {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .header h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 430px) {
  .header h1 {
    font-size: 35px;
  }
}
